.dialogPaper{
    min-height: 94vh;
    min-width: 70vh;
}

.modalHeader{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 0 !important;
    color: #3D3E64;
}

.greyButton{
    background: #EFEFF0;
    background-color: #EFEFF0 !important;
    border-radius: 100px !important;
    color: black !important;
}

.greenButton{
    background: #42DEB4;
    background-color: #42DEB4 !important;
    border-radius: 100px !important;
    color: white !important;
}

.directionRow{
    flex-direction: row !important;
}

.tableHeaderTitle{
    font-weight: bold !important;
    font-size: 17px !important;
    line-height: 21px !important;
    color: #3D3E64 !important;
}

.tableHeaderSubTitle{
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #3D3E64 !important;
}

.nemoFactorLogoText{
    font-size: 16px
}