.dialogPaper {
	min-height: 80vh;
}

.modalHeader {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 49px;
	text-align: center;
	padding-bottom: 0 !important;
	color: #3d3e64;
}

.greyButton {
	background: #efeff0;
	background-color: #efeff0 !important;
	border-radius: 100px !important;
	color: black !important;
}

.greenButton {
	background: #42deb4;
	background-color: #42deb4 !important;
	border-radius: 100px !important;
	color: white !important;
}

.nemoFactor {
	font-size: 16px;
}

.bigGreenText {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;

	color: #42deb4;
}

.savingsText {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;

	color: #3d3e64;
}

.savingsValue {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 37px;

	color: #42deb4;
}
