.dialogPaper{
    min-height: 80vh;
}

.modalHeader{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 0 !important;
    color: #3D3E64;
}

.greyButton{
    background: #EFEFF0;
    background-color: #EFEFF0 !important;
    border-radius: 100px !important;
    color: black !important;
}

.greenButton{
    background: #42DEB4;
    background-color: #42DEB4 !important;
    border-radius: 100px !important;
    color: white !important;
}